<div class="booking-toggle">
  <form class="form-inline" role="form">
    <div class="form-group">
      <button type="submit" (click)="currentOrAllBookingsVisible = true" [ngClass]="{'current': currentOrAllBookingsVisible == true}" class="btn btn-default">Список текущих заявок</button>
      <button type="submit" (click)="currentOrAllBookingsVisible = false" [ngClass]="{'current': currentOrAllBookingsVisible == false}" class="btn btn-default">Список всех заявок</button>
    </div>
  </form>
</div>
<div class='bookings'>
  <aside *ngIf="currentOrAllBookingsVisible && currentBookings.length" class="booking-left-side">
      <table class="table table-bordered">
          <thead class="text-center">
              <tr>
                <th width="10%" class="text-center">Номер</th>
                <th width="40%" class="text-center">ФИО</th>
                <th width="20%" class="text-center">Дата заселения</th>
                <th width="20%" class="text-center">Дата выселения</th>
              </tr>
          </thead>

          <tbody class="text-center">
              <tr *ngFor="let booking of currentBookings" (click)="getGeneralClientInfo(booking)">
                <td width="10%">{{booking.number}}</td>
                <td width="40%">{{booking.name}}</td>
                <td width="20%">{{booking.dateCheck}}</td>
                <td width="20%">{{booking.dateEviction}}</td>
              </tr>
          </tbody>
      </table>
      <h3 *ngIf="!currentBookings.length">Все комнаты свободны!</h3>
  </aside>
  <aside *ngIf="!currentOrAllBookingsVisible  && allBookings.length" class="booking-left-side">
      <form class="form-inline" role="form">
          <div class="form-group">
              <p class="filter-col">Дата: </p>
              <input type="date" disabled id="searchValue" class="form-control">
              <button type="submit" disabled class="btn btn-default">Найти</button>
          </div>
      </form>
      <table class="table table-bordered">
          <thead class="text-center">
              <tr>
                  <th width="10%" class="text-center">Номер</th>
                  <th width="40%" class="text-center">ФИО</th>
                  <th width="20%" class="text-center">Дата заселения</th>
                  <th width="20%" class="text-center">Дата выселения</th>
              </tr>
          </thead>

          <tbody class="text-center">
            <tr *ngFor="let booking of allBookings" (click)="getGeneralClientInfo(booking)">
              <td width="10%">{{booking.number}}</td>
              <td width="40%">{{booking.name}}</td>
              <td width="20%">{{booking.dateCheck}}</td>
              <td width="20%">{{booking.dateEviction}}</td>
            </tr>
          </tbody>
      </table>
  </aside>
    <aside class="booking-right-side" *ngIf="isDetailInfoVisible">
        <blockquote>
            <h2>Детальная информация</h2>
            <div name="tabs">
                <div id="infoTab">
                    <p class="lead">Номер:
                        <span class="lead"> <b>{{selectedBooking.number}}</b> </span>
                    </p><br><br>
                    <p class="lead">Посетитель:
                        <span class="lead"> <b>{{selectedBooking.name}}</b> </span>
                    </p><br><br>
                    <p class="lead">Дата заселения:
                        <span class="lead"> <b>{{selectedBooking.dateCheck}}</b> </span>
                    </p><br><br>
                    <p class="lead">Дата выселения:
                        <span class="lead"> <b>{{selectedBooking.dateEviction}}</b> </span>
                    </p><br><br>
                    <p class="lead"> Количество дней: <b>{{countDays}}</b></p><br><br>
                    <p class="lead">Стоимость проживания: <b>{{generalRoomInfo.price}}</b> 
                        <span class="lead"></span> грн.</p><br><br>
                    <p class="lead" >Статус: <b [ngStyle]="{'color': selectedBooking.status ? 'green' : 'red'}">{{selectedBooking.status ? ' активный' : ' не активный'}}</b>
                        <span class="lead"></span>
                    </p>
                </div>
            </div>
        </blockquote>
    </aside>
</div>