<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/dashboard">Hotel System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link"
           routerLinkActive="active"
           routerLink="/rooms">
          Номера
        </a>
        <a class="nav-item nav-link"
           routerLinkActive="active"
           routerLink="/clients">
          Клиенты
        </a>
        <a class="nav-item nav-link"
           routerLinkActive="active"
           routerLink="/add-request">
          Оформление заявки
        </a>
        <a class="nav-item nav-link"
           routerLinkActive="active"
           routerLink="/request-list">
          Список заявок
        </a>
        <a class="nav-item nav-link"
           (click)="logout()">
          Выйти
        </a>
      </div>
    </div>
  </div>
</nav>
