<div class="container rooms_container clients_container">
  <aside class="left-side">
    <div class="form-inline">
      <div class="form-group">
        <div class="controls">
          <label class="filter-col">Поиск по:</label>
          <select [(ngModel)]="filterOption" id="filter-col" name="filter-col" class="form-control">
            <option value="name">ФИО</option>
            <option value="phone">Номеру телефона</option>
          </select>
          <input (input)="searchValueChange($event.target.value)" type="text" class="form-control" id="search-field"
                placeholder="Введите данные для поиска">
        </div>
        <a class="btn btn-primary add_button" (click)="addNewClient()"><span class="glyphicon glyphicon-plus"></span> Добавить</a>
      </div>
    </div>
    <table *ngIf="clients.length" class="table table-bordered">
      <thead>
      <tr>
        <th class="text-center">ФИО</th>
        <th class="text-center">Телефон</th>
      </tr>
      </thead>
      <tbody class="text-center">
      <tr *ngFor="let client of filteredClients" (click)="selectClient(client)">
        <td class="td-name">{{client.name}}</td>
        <td class="td-phone">{{client.phone}}</td>
      </tr>
      </tbody>
    </table>
  </aside>
  <aside *ngIf="isDetailInfoVisible || isEditClientBlockVisible" class="right-side">
    <div class="info">
      <h3>Информация о клиенте: </h3>
      <hr>
      <div *ngIf="isDetailInfoVisible">
        <blockquote>
          <div class="lead">Имя:
            <p class="lead"><b>{{selectedClient.name}}</b></p>
          </div>
          <div class="lead">Паспорт:
            <p class="lead"><b>{{selectedClient.passport}}</b></p>
          </div>
          <div class="lead">Телефон:
            <p class="lead"><b>{{selectedClient.phone}}</b></p>
          </div>
          <div class="lead">Дата рождения:
            <p class="lead"><b>{{selectedClient.birthDate}}</b></p>
          </div>
          <div class="lead">Адрес:
            <p class="lead"><b>{{selectedClient.address}}</b></p>
          </div>
          <div class="lead">Кол-во посищений:
            <p class="lead"><b>{{selectedClient.countVisits}}</b></p>
          </div>
        </blockquote>
        <a (click)="showEditBlock()" class="btn btn-warning" data-bind="click: editValue"><span class="glyphicon glyphicon-edit"></span>
          Изменить</a>
      </div>
      
      <div *ngIf="isEditClientBlockVisible">
        <blockquote>
          <p>Имя: <input class="form-control" type="text" name="Имя" [value]="!isAddClientMode ? selectedClient.name : ''" #changedName></p>
          <p>Паспорт: <input class="form-control" type="text" name="Паспорт" [value]="!isAddClientMode ? selectedClient.passport : ''" #changedPassport></p>
          <p>Телефон: <input class="form-control" type="text" name="Телефон" [value]="!isAddClientMode ? selectedClient.phone : ''" #changedPhone></p>
          <p>Дата рождения: <input class="form-control" type="date" min="1996-01-01" name="Дата рождения" [value]="!isAddClientMode ? selectedClient.birthDate : ''" #changedBDate></p>
          <p>Адрес: <input class="form-control" type="text" name="Адрес" [value]="!isAddClientMode ? selectedClient.address : ''" #changedAddress></p>
        </blockquote>
        <a (click)="saveChanges()" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>
          Сохранить</a>
      </div>
    
    </div>
  </aside>
</div>
