.clients_container
  display: flex
  margin: 0 auto
  .left-side
    width: 70%
    left: 10px
    position: static
    .form-group
      margin-bottom: 25px
      justify-content: space-between
      .controls
        display: flex
        width: calc(100% - 150px)
      .form-control, .add_button
        margin-left: 15px
      .add_button
        margin-left: 15px
      #search-field
        width: 40%
    .client_rows
      &:hover
        cursor: pointer
        background-color: #efefef
      &.active
        background-color: rgba(0,0,0, .3)

  .right-side
    right: 10%
    width: 20%
    position: fixed

